<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="col-md-2 col-md-offset-5">商品編集</h1>
		</div>
		<div class="title col-md-12"></div>
	</div>
</div>

<%= render 'form' %>


<div class="container">
	<div class="row">
		<div class="col-md-offset-4 btn-delete">
		<%= link_to item_path(@item), class: "btn btn-danger btn-block", method: :delete, "data-confirm" => "Are you sure?" do %>商品を削除する<% end %>
		</div>
	</div>
</div>