<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="col-md-2 col-md-offset-5">新規商品</h1>
		</div>
		<div class="title col-md-12"></div>
	</div>
</div>
<%= render 'form' %>

